body {
  background-color: #fff;
  color: #757575;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
}

main {
  border-top: 1px solid #ececec;
}

body.modal-open {
  overflow: hidden;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.card, .portfolio__list, .contacts__list, .our-team__list, .our-job__list, .features__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.portfolio__label, .features__title {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.portfolio__button, .modal__button, .followers__button, .hero__button {
  cursor: pointer;
}

.portfolio, .clients, .our-team, .our-job, .features {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .portfolio, .clients, .our-team, .our-job, .features {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.clients__title, .our-team__title, .our-job__title {
  color: #212121;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  margin-top: 0;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .clients__title, .our-team__title, .our-job__title {
    font-size: 36px;
    line-height: 1.17;
    margin-bottom: 50px;
  }
}

.backdrop.backdrop--is-hidden {
  opacity: 0;
  pointer-events: none;
}

.header {
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .header {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .header {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .header {
    width: 1200px;
  }
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
}
@media screen and (min-width: 768px) {
  .nav {
    height: 80px;
  }
}

.logo {
  color: #212121;
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  line-height: 1.17;
  text-decoration: none;
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.1923076923;
  }
}

.logo__web {
  color: #2196f3;
}

@media screen and (max-width: 767px) {
  .menu-container {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 796px;
    padding: 48px 40px;
    background-color: #fff;
    z-index: 2;
  }
}
.menu-container.is-open {
  display: block;
}
@media screen and (min-width: 768px) {
  .menu-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 767px) {
  .nav__list {
    margin-bottom: 302px;
  }
}
@media screen and (min-width: 768px) {
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 50px;
    margin-left: 87px;
  }
}
@media screen and (min-width: 1200px) {
  .nav__list {
    margin-left: 93px;
  }
}

@media screen and (max-width: 767px) {
  .nav__item:not(:last-child) {
    margin-bottom: 35px;
  }
}

.nav__link {
  position: relative;
  color: #212121;
  text-decoration: none;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__link:hover, .nav__link:focus {
  color: #2196f3;
}
@media screen and (min-width: 768px) {
  .nav__link {
    font-size: 14px;
    line-height: 1.14;
    padding: 32px 0;
  }
}

.nav__link--current {
  color: #2196f3;
}
.nav__link--current::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
}
@media (max-width: 767px) {
  .nav__link--current::after {
    display: none;
  }
}

.auth-nav {
  list-style: none;
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 767px) {
  .auth-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-bottom: 64px;
  }
}
@media screen and (min-width: 768px) {
  .auth-nav {
    padding: 21px 0;
    margin-left: 96px;
  }
}
@media screen and (min-width: 1200px) {
  .auth-nav {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    padding: 32px 0;
    margin-left: 315px;
  }
}

.auth-nav__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 1199px) {
  .auth-nav__item:not(:last-child) {
    margin-bottom: 10px;
    height: 14px;
  }
}
@media screen and (min-width: 1200px) {
  .auth-nav__item:not(:first-child) {
    margin-left: 30px;
  }
}

.auth-nav__link {
  text-decoration: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #757575;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.auth-nav__link:hover, .auth-nav__link:focus {
  color: #2196f3;
}
@media screen and (min-width: 1200px) {
  .auth-nav__link {
    font-size: 14px;
    line-height: 1.14;
  }
}

.auth-nav__link--mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}
@media screen and (max-width: 767px) {
  .auth-nav__link--mail {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;
  }
}

.auth-nav__link--tel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 767px) {
  .auth-nav__link--tel {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: #2196f3;
    text-decoration: none;
    margin-bottom: 32px;
  }
}
@media screen and (max-width: 479px) {
  .auth-nav__link--tel {
    font-size: 27px;
  }
}

.auth-nav__icon {
  margin-right: 8px;
  fill: currentColor;
}
@media screen and (max-width: 767px) {
  .auth-nav__icon {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
            clip-path: inset(50%);
    margin: -1px;
  }
}

@media screen and (max-width: 1200px) {
  .auth-nav__icon--envelope {
    width: 14px;
    height: 10px;
  }
}

@media screen and (max-width: 1200px) {
  .auth-nav__icon--phone {
    width: 10px;
    height: 14px;
  }
}

.nav__button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: absolute;
  top: 10px;
  right: 15px;
  margin: 0;
  padding: 0;
  cursor: pointer;
  z-index: 3;
  border: none;
  background-color: transparent;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .nav__button {
    display: none;
  }
}
.nav__button:hover, .nav__button:focus {
  fill: #2196f3;
}

.nav__icon-cross:hover,
.nav__icon-cross:focus {
  fill: #2196f3;
}

.nav__button .nav__icon-cross {
  display: none;
}

.nav__button.is-open .nav__icon-cross {
  display: block;
}

.nav__button.is-open .nav__icon-menu {
  display: none;
}

.menu-socials {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: -10px;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  list-style: none;
}
@media screen and (min-width: 767px) {
  .menu-socials {
    display: none;
  }
}

.menu-socials__item {
  margin: 0;
}
.menu-socials__item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  padding-right: 10px;
}
.menu-socials__item:not(:first-child) {
  padding-left: 10px;
}

.menu-socials__text {
  cursor: pointer;
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 479px) {
  .menu-socials__text {
    font-size: 10px;
  }
}

.hero {
  background-color: #c4c4c4;
  text-align: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/mobile-bgi.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/mobile-bgi.jpg);
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
  background-position: center;
  padding-top: 118px;
  padding-bottom: 118px;
  height: 400px;
}
@media screen and (min-width: 1200px) {
  .hero {
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/mobile-bgi-2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/mobile-bgi-2x.jpg);
  }
}
@media screen and (min-width: 480px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/tablet-bgi.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/tablet-bgi.jpg);
  }
}
@media screen and (min-width: 480px) and (min-device-pixel-ratio: 2), screen and (min-width: 480px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 480px) and (min-resolution: 192dpi), screen and (min-width: 480px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/tablet-bgi-2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/tablet-bgi-2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/desktop-bgi.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/desktop-bgi.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/desktop-bgi-2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/desktop-bgi-2x.jpg);
  }
}
.hero__title {
  color: #fff;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 30px;
  max-width: 360px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

/* button */
.hero__button {
  color: #fff;
  background-color: #2196f3;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  border-radius: 4px;
  border: none;
  letter-spacing: 0.06em;
  padding: 10px 24px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__button:hover, .hero__button:focus {
  background-color: #188ce8;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
@media screen and (min-width: 1200px) {
  .hero__button {
    padding: 10px 32px;
  }
}

@media screen and (min-width: 768px) {
  .features__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

@media (max-width: 767px) {
  .features__item:not(:last-child) {
    padding-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .features__item {
    width: calc((100% - 60px) / 2);
    margin: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .features__item {
    width: calc((100% - 120px) / 4);
    margin: 15px;
  }
}

.features__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f5f4fa;
  height: 120px;
  width: 100%;
  margin-bottom: 30px;
}

.features__uppertitle {
  color: #212121;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 10px;
}
@media screen and (max-width: 767px) {
  .features__uppertitle {
    text-align: center;
  }
}

.features__text {
  margin: 0;
  font-size: 14px;
  line-height: 1.71;
}

.our-job {
  padding-top: 0;
}
@media screen and (max-width: 1199px) {
  .our-job {
    display: none;
  }
}

.our-job__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: -30px;
}

.our-job__item {
  border: 0;
  margin-right: 30px;
  -ms-flex-preferred-size: calc(33.3333333333% - 30px);
      flex-basis: calc(33.3333333333% - 30px);
  position: relative;
}

.our-job__img {
  display: block;
}

.our-job__lable {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 0;
  height: 70px;
  width: 100%;
  background-color: rgba(47, 48, 58, 0.8);
  margin: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #fff;
}

.our-team {
  background-color: #f5f4fa;
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .our-team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

.our-team__item {
  background-color: #fff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media (max-width: 767px) {
  .our-team__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .our-team__item {
    width: calc((100% - 60px) / 2);
    margin: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .our-team__item {
    width: calc((100% - 120px) / 4);
  }
}

.our-team__image {
  width: 100%;
}

.our-team__card {
  padding-top: 30px;
  padding-bottom: 24px;
}

.our-team__card-title {
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px;
}

.our-team__position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-top: 0;
  margin-bottom: 16px;
}

.social-networks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  gap: 10px;
  padding: 0;
  margin: 0;
}

.social-networks__link {
  fill: #afb1b8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-networks__link:hover, .social-networks__link:focus {
  fill: #fff;
  background-color: #2196f3;
  border-radius: 50%;
}

.social-networks__icon {
  display: block;
}

.clients__list {
  list-style: none;
  margin: -15px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.clients__item {
  margin: 15px;
  width: calc((100% - 60px) / 2);
}
@media screen and (min-width: 768px) {
  .clients__item {
    width: calc((100% - 90px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients__item {
    width: calc((100% - 180px) / 6);
  }
}

.clients-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 92px;
  color: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-link:hover, .clients-link:focus {
  border-color: #2196f3;
  color: #2196f3;
}

.clients-logo {
  fill: currentColor;
}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__container {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .footer__container {
    width: 768px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .footer__container {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    width: 1200px;
  }
}

.contacts {
  text-align: center;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts {
    width: 50%;
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    text-align: start;
  }
}

.logo--white {
  color: #fff;
  display: inline-block;
  margin-bottom: 20px;
}

.contacts__address {
  font-style: normal;
}

.contacts__list {
  display: block;
  font-size: 14px;
  line-height: 1.71;
  margin-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .contacts__list {
    margin-bottom: 0;
    width: 231px;
  }
}

.contacts__item:not(:last-child) {
  margin-bottom: 9px;
}

.link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link:hover, .link:focus {
  color: #2196f3;
}

.contacts__link--location {
  color: #fff;
}

@media screen and (min-width: 768px) {
  .find-us {
    width: 50%;
  }
}
@media screen and (min-width: 1200px) {
  .find-us {
    margin-left: 70px;
  }
}

.footer-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 20px;
  margin-top: 0;
}
@media screen and (min-width: 1200px) {
  .footer-title {
    text-align: start;
  }
}

@media screen and (max-width: 1199px) {
  .social-networks__item--padding {
    padding-bottom: 60px;
  }
}

.social-networks__link--bgc {
  color: #fff;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-networks__link--bgc:hover, .social-networks__link--bgc:focus {
  background-color: #2196f3;
}

.social-networks__icon--color {
  fill: currentColor;
}

@media screen and (min-width: 768px) {
  .followers {
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1200px) {
  .followers {
    margin-left: 93px;
    margin-right: 0;
  }
}

@media screen and (min-width: 1200px) {
  .followers__mail {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.followers__input {
  width: 100%;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: transparent;
  border-radius: 4px;
  color: #fff;
  padding-left: 10px;
  margin-bottom: 20px;
}
.followers__input:focus {
  outline: none;
}
@media screen and (min-width: 768px) {
  .followers__input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .followers__input {
    width: 358px;
    margin-bottom: 0;
    margin-right: 12px;
  }
}

.followers__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 50px;
  padding: 10px 28px;
  border: 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #fff;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.followers__button:hover, .followers__button:focus {
  background-color: #188ce8;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.followers-icon {
  margin-left: 10px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 93px 15px;
  overflow-y: scroll;
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 10;
}

.backdrop--is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.5);
          transform: translate(-50%, -50%) scale(0.5);
}

.modal {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  max-width: 450px;
  max-height: 609px;
  padding: 40px;
  background: #fff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .modal {
    position: absolut;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
    max-width: 528px;
    max-height: 581px;
  }
}

.modal__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  color: #212121;
}

.modal__label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal__form-field {
  position: relative;
  margin-bottom: 10px;
}

.modal__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 42px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__input:focus {
  border: 1px solid #2196f3;
  border-radius: 4px;
  outline: none;
}

.modal__input:focus + .modal__icon {
  fill: #2196f3;
}

.modal__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__text {
  margin-bottom: 20px;
}

.modal__textarea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__textarea:focus {
  border: 1px solid #2196f3;
  outline: none;
}
.modal__textarea::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal__textarea::-moz-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal__textarea:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal__textarea::-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal__textarea::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.checkbox {
  margin-bottom: 30px;
}

.checkbox__label {
  display: block;
  position: relative;
  cursor: pointer;
  padding-left: 24px;
  font-size: 12px;
  line-height: 1.17;
  width: 100%;
}
@media screen and (min-width: 1200px) {
  .checkbox__label {
    padding-left: 37px;
  }
}

.checkbox__input {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  margin: -1px;
}

.checkbox__icon-field {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 0px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .checkbox__icon-field {
    left: 14px;
  }
}

.checkbox__input:checked + .checkbox__icon-field {
  background-color: #2196f3;
  border-color: #2196f3;
  background-origin: border-box;
}

.checkbox__input:focus + .checkbox__icon-field {
  border-color: #2196f3;
}

.checkbox__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
}

.checkbox__link {
  color: #2196f3;
}

.modal__button {
  display: block;
  width: 200px;
  height: 50px;
  padding: 10px 52px;
  border: 0;
  margin-left: auto;
  margin-right: auto;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #fff;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__button:hover, .modal__button:focus {
  background-color: #188ce8;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.modal__close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__close-button:hover, .modal__close-button:focus {
  fill: #2196f3;
}

.portfolio__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .portfolio__list {
    width: 575px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__list {
    margin-bottom: 50px;
  }
}

.portfolio__item:not(:last-child) {
  margin-right: 8px;
}
@media screen and (max-width: 767px) {
  .portfolio__item:first-child {
    margin-bottom: 15px;
  }
}
@media screen and (min-width: 469px) and (max-width: 767px) {
  .portfolio__item:nth-child(3n) {
    margin-right: 20px;
  }
}

.portfolio__button {
  background: #f5f4fa;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  font-family: "Roboto", sans-serif;
  text-align: center;
  letter-spacing: 0.03em;
  border: 0;
  padding: 6px 22px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__button:hover, .portfolio__button:focus {
  color: #fff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
@media screen and (max-width: 358px) {
  .portfolio__button {
    padding: 6px 15px;
  }
}

@media screen and (min-width: 768px) {
  .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (min-width: 768px) {
  .card__item {
    width: calc((100% - 60px) / 2);
    margin: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .card__item {
    width: calc((100% - 90px) / 3);
  }
}

.card__item:not(:last-child) {
  margin-bottom: 30px;
}

.card__link {
  text-decoration: none;
  color: #757575;
  display: block;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.card__link:hover, .card__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card__link:hover .card__back-text,
.card__link:focus .card__back-text {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.card__icon {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.card__img {
  display: block;
  margin: 0;
  width: 100%;
}

.card__back-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translateY(101%);
          transform: translateY(101%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 77px 24px;
  margin: 0;
  font-size: 18px;
  line-height: 28px;
  color: #fff;
  background-color: rgba(33, 150, 243, 0.9);
}
@media screen and (min-width: 768px) {
  .card__back-text {
    padding: 49px 24px;
  }
}
@media screen and (min-width: 1200px) {
  .card__back-text {
    padding: 63px 24px;
  }
}

.card__caption {
  border: 1px solid #eeeeee;
  border-top: none;
  padding: 20px 24px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .card__caption--padding {
    padding-bottom: 56px;
  }
}

.card__title {
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-decoration: none;
  margin-top: 0;
  margin-bottom: 4px;
}

.card__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  margin-top: 0;
  margin-bottom: 0;
  text-decoration: none;
}/*# sourceMappingURL=main.css.map */