.footer {
  background-color: $secondary-bgc;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer__container {
  display: flex;
  align-items: baseline;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}
// Contacts

.contacts {
  margin-right: 70px;
  width: 231px;
}
.logo--white {
  color: $primary-whyte-color;
  display: inline-block;
  margin-bottom: 20px;
}
.contacts__address {
  font-style: normal;
}
.contacts__list {
  @extend %list;
  display: block;
  font-size: 14px;
  line-height: 1.71;
}
.contacts__item:not(:last-child) {
  margin-bottom: 9px;
}

.contacts__link--location {
  color: $primary-whyte-color;
  display: inline-block;
}
.contacts__link--mail {
  display: inline-block;
}
// Find-us
.find-us {
  margin-right: 93px;
}
.footer-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;

  text-transform: uppercase;

  color: $primary-whyte-color;
  margin-bottom: 20px;
  margin-top: 0;
}

.social-networks__link--bgc {
  color: $primary-whyte-color;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background-color 250ms $timing-function;
  &:hover,
  &:focus {
    background-color: $accent-color;
  }
}

.social-networks__icon--color {
  fill: currentColor;
}
// Followers
.followers {
  display: block;

  width: 570px;
}
.followers__mail {
  display: flex;
  justify-content: flex-end;
}
.followers__input {
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: transparent;
  border-radius: 4px;
  margin-right: 12px;
  color: $primary-whyte-color;
  padding-left: 10px;
  &:focus {
    outline: none;
  }
}
.followers__button {
  @extend %button;
  display: flex;

  width: 200px;
  height: 50px;
  padding: 10px 28px;
  border: 0;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  background-color: $accent-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: $primary-whyte-color;

  transition: background-color 250ms $timing-function;
  &:hover,
  &:focus {
    background-color: $button-bgc;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}

.followers-icon {
  margin-left: 10px;
}
