.footer {
  background-color: $secondary-bgc;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer__container {
  width: 100%;

  @media screen and(min-width: 768px) {
    width: 768px;
    display: flex;
    flex-wrap: wrap;
  }

  @media screen and(min-width: 1200px) {
    flex-wrap: nowrap;
    align-items: baseline;
    width: 1200px;
  }
}
// Contacts

.contacts {
  text-align: center;

  @media screen and(min-width: 768px) and (max-width: 1199px) {
    width: 50%;
  }

  @media screen and(min-width: 1200px) {
    text-align: start;
  }
}
.logo--white {
  color: $primary-whyte-color;
  display: inline-block;
  margin-bottom: 20px;
}
.contacts__address {
  font-style: normal;
}
.contacts__list {
  @extend %list;
  display: block;
  font-size: 14px;
  line-height: 1.71;
  margin-bottom: 60px;

  @media screen and(min-width: 1200px) {
    margin-bottom: 0;
    width: 231px;
  }
}
.contacts__item:not(:last-child) {
  margin-bottom: 9px;
}

.link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms $timing-function;
  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.contacts__link--location {
  color: $primary-whyte-color;
}

.find-us {
  @media screen and(min-width: 768px) {
    width: 50%;
  }
  @media screen and(min-width: 1200px) {
    margin-left: 70px;
  }
}
.footer-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;

  color: $primary-whyte-color;
  margin-bottom: 20px;
  margin-top: 0;

  @media screen and (min-width: 1200px) {
    text-align: start;
  }
}

.social-networks__item--padding {
  @media screen and(max-width: 1199px) {
    padding-bottom: 60px;
  }
}
.social-networks__link--bgc {
  color: $primary-whyte-color;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background-color 250ms $timing-function;
  &:hover,
  &:focus {
    background-color: $accent-color;
  }
}

.social-networks__icon--color {
  fill: currentColor;
}

.followers {
  @media screen and(min-width: 768px) {
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and(min-width: 1200px) {
    margin-left: 93px;
    margin-right: 0;
  }
}
.followers__mail {
  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: flex-end;
  }
}

.followers__input {
  width: 100%;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: transparent;
  border-radius: 4px;

  color: $primary-whyte-color;
  padding-left: 10px;

  &:focus {
    outline: none;
  }

  margin-bottom: 20px;

  @media screen and (min-width: 768px) {
    width: 450px;
  }
  @media screen and (min-width: 1200px) {
    width: 358px;
    margin-bottom: 0;
    margin-right: 12px;
  }
}
.followers__button {
  @extend %button;
  display: flex;

  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 50px;
  padding: 10px 28px;
  border: 0;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  background-color: $accent-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: $primary-whyte-color;

  transition: background-color 250ms $timing-function;
  &:hover,
  &:focus {
    background-color: $button-bgc;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}

.followers-icon {
  margin-left: 10px;
}
