.header {
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 480px) {
    width: 480px;
  }
  @media screen and(min-width: 768px) {
    width: 768px;
  }
  @media screen and(min-width: 1200px) {
    width: 1200px;
  }
}
.header__container {
  display: flex;

  @media screen and (max-width: 767px) {
    height: 60px;
  }
}

.logo {
  display: flex;
  align-items: center;

  color: $primary-text-color;
  font-family: 'Raleway', sans-serif;

  font-size: 24px;
  line-height: 1.17;

  text-decoration: none;

  @media screen and(min-width: 1200px) {
    font-size: 26px;
    line-height: calc(31px / 26px);
  }
}
.logo__web {
  color: $accent-color;
}

.nav {
  display: flex;
  align-items: center;

  height: 60px;

  @media screen and(min-width:768px) {
    height: 80px;
  }

  @media screen and (max-width: 767px) {
    display: none;
  }
}

.nav__list {
  list-style: none;
  margin: 0;
  padding: 0;

  @media screen and(max-width: 767px) {
    margin-bottom: auto;
  }

  @media screen and(min-width:768px) {
    display: flex;
    align-items: center;
    gap: 50px;
    margin-left: 87px;
  }

  @media screen and(min-width:1200px) {
    margin-left: 93px;
  }
}
.nav__item {
  @media screen and(max-width:767px) {
    &:not(:last-child) {
      margin-bottom: 35px;
    }
  }
}
.nav__link {
  position: relative;

  color: $primary-text-color;
  text-decoration: none;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;

  transition: color 250ms $timing-function, background-color 250ms $timing-function;
  &:hover,
  &:focus {
    color: $accent-color;
  }

  @media screen and(min-width:768px) {
    font-size: 14px;
    line-height: 1.14;

    padding: 32px 0;
  }
}
.nav__link--current {
  color: $accent-color;
  &::after {
    content: '';

    position: absolute;
    bottom: -1px;
    left: 0;

    width: 100%;
    height: 4px;

    background-color: $accent-color;
    border-radius: 2px;

    @media (max-width: 767px) {
      display: none;
    }
  }
}

.auth-nav {
  list-style: none;
  margin: 0;

  padding: 0;

  @media screen and(min-width: 768px) {
    padding: 21px 0;
    margin-left: 96px;
  }

  @media screen and(min-width: 1200px) {
    display: inline-flex;
    padding: 32px 0;
    margin-left: 315px;
  }
}
.auth-nav__item {
  display: flex;
  align-items: center;
  @media screen and (max-width: 767px) {
    &:not(:first-child) {
      margin-bottom: 64px;
    }
  }

  @media screen and(min-width: 768px) and (max-width: 1199px) {
    &:not(:last-child) {
      margin-bottom: 10px;
      height: 14px;
    }
  }

  @media screen and(min-width: 1200px) {
    &:not(:first-child) {
      margin-left: 30px;
    }
  }
}
.auth-nav__link {
  text-decoration: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;

  letter-spacing: 0.02em;

  color: #757575;
  transition: color 250ms $timing-function;
  &:hover,
  &:focus {
    color: $accent-color;
  }

  @media screen and(min-width: 1200px) {
    font-size: 14px;
    line-height: 1.14;
  }
}

.auth-nav__link--mail {
  display: flex;
  align-items: center;
  text-decoration: none;

  @media screen and(max-width: 767px) {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;
  }
}

.auth-nav__link--tel {
  display: flex;
  align-items: center;

  @media screen and(max-width: 767px) {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.18;

    letter-spacing: 0.02em;

    color: $accent-color;

    text-decoration: none;

    margin-bottom: 32px;
  }

  @media screen and(max-width: 479px) {
    font-size: 27px;
  }
}

.auth-nav__icon {
  margin-right: 8px;
  fill: currentColor;

  @media screen and (max-width: 767px) {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  }
}
.auth-nav__icon--envelope {
  @media screen and(max-width: 1200px) {
    width: 14px;
    height: 10px;
  }
}
.auth-nav__icon--phone {
  @media screen and(max-width: 1200px) {
    width: 10px;
    height: 14px;
  }
}
.nav__button {
  display: flex;
  align-items: center;

  padding: 0;
  margin-left: auto;
  cursor: pointer;

  border: none;
  background-color: transparent;

  transition: fill 250ms $timing-function;

  @media screen and(min-width:768px) {
    display: none;
  }

  &:hover,
  &:focus {
    fill: $accent-color;
  }
}
