.features {
  @extend %section;
}

.features__title {
  @extend %visually-hidden;
}
.features__list {
  @extend %list;
}

.features__item {
  width: 270px;
  &:not(:first-child) {
    margin-left: 30px;
  }
}
.features__card {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $section-bgc;
  height: 120px;
  margin-bottom: 30px;
}
.features__uppertitle {
  color: $primary-text-color;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;

  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 10px;
}
.features__text {
  margin: 0;
  font-size: 14px;
  line-height: 1.71;
}
