.our-team {
  @extend %section;
  background-color: $section-bgc;

  margin-bottom: 0;
}

.our-team__title {
  @extend %section-title;
}
.our-team__list {
  @extend %list;
  @media screen and(min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}
.our-team__item {
  background-color: $primary-whyte-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  &:not(:last-child) {
    @media (max-width: 767px) {
      margin-bottom: 30px;
    }
  }

  @media screen and(min-width: 768px) {
    width: calc((100% - 60px) / 2);
    margin: 15px;
  }

  @media screen and(min-width: 1200px) {
    width: calc((100% - 120px) / 4);
  }
}
.our-team__image {
  width: 100%;
}
.our-team__card {
  padding-top: 30px;
  padding-bottom: 24px;
}
.our-team__card-title {
  color: $primary-text-color;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px;
}

.our-team__position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-top: 0;
  margin-bottom: 16px;
}

.social-networks {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 10px;
  padding: 0;
  margin: 0;
}

.social-networks__link {
  fill: $main-logo-color;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms $timing-function, fill 250ms $timing-function;
  &:hover,
  &:focus {
    fill: $primary-whyte-color;
    background-color: $accent-color;
    border-radius: 50%;
  }
}
.social-networks__icon {
  display: block;
}
