$primary-text-color: #212121;
$secondary-text-color: #757575;
$accent-color: #2196f3;
$primary-whyte-color: #fff;
$secondary-bgc: #2f303a;
$section-bgc: #f5f4fa;
$button-bgc: #188ce8;
$main-logo-color: #afb1b8;

$card-set-gap: 30px;

$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
